<!-- src\app\carpeta-create\carpeta-create.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Crear Carpeta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre de Carpeta</ion-label>
    <ion-input
      [(ngModel)]="nombre"
      name="nombre"
      placeholder="Ej: Estudio"
      type="text"
      (ionInput)="onNombreChange($event)" 
      debounce="300"
    ></ion-input>
  </ion-item>
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="full" (click)="debugClickAndCreate()">Crear</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>