<!-- src/app/chat/chat.page.html -->

<ion-header>
  <ion-toolbar>
    <!-- Logo en el lado izquierdo -->
    <ion-buttons slot="start">
      <img class="logo-img" src="assets/images/logo.png" alt="ChatBook Logo" />
    </ion-buttons>

    <!-- Contenedor central para el mensaje de estado de conexión -->
    <div class="header-center">
      <div class="connection-indicator">
        <div
          [ngClass]="{ 'green-light': isLoggedIn, 'gray-light': !isLoggedIn }"
        ></div>
        <div class="connection-status">
          {{ isLoggedIn ? 'Estás como usuario' : 'Estás como invitado' }}
        </div>
      </div>
    </div>

    <!-- Botón de menú en el lado derecho -->
    <ion-buttons slot="end">
      <ion-menu-button menu="chatMenu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- Contenedor principal del chat -->
  <div class="chat-container">
    <!-- Área de mensajes -->
    
    
    <div class="chat-messages" #chatMessages>
      <!-- Listado de mensajes Bot - usuario -->
      <ion-list>
        <ion-item *ngFor="let chatItem of messages" [hidden]="chatItem.role === 'system'">
          <ion-label [ngClass]="{
              'user-message': chatItem.role === 'user',
              'bot-message': chatItem.role === 'assistant'
            }">
            {{ chatItem.content }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <!-- Botones de acción -->
    <div class="action-buttons">

      <!-- Boton de tareas -->
 <!--      <ion-button fill="clear" (click)="sendTasksToLLM()">
        <ion-icon name="clipboard-outline"></ion-icon>
      </ion-button> -->

      <!-- Boton de localizacion -->
      <ion-button fill="clear" (click)="sendLocation()">
        <ion-icon name="location-outline"></ion-icon>
      </ion-button>

      <!--NEW CHAT STORE  -->
      <ion-button fill="clear" (click)="clearChat()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <!--NEW CHAT STORE -->

    </div>

    <!-- Sección de entrada de mensajes -->
    <div class="message-input-section">
      <ion-input
        [(ngModel)]="userMessage"
        placeholder="Escribe tu mensaje..."
          (keydown.enter)="sendMessage()"
      ></ion-input>
      <ion-button fill="clear" (click)="sendMessage()">
        <ion-icon name="send-outline"></ion-icon>
      

      </ion-button>
    </div>

  </div>

  <!-- Barra de mensaje de conexión -->
  <div *ngIf="showMessage" class="success-message">{{ message }}</div>
</ion-content>







