<!-- myApp\src\app\recover-key\recover-key.page.html -->
<ion-header>
  <ion-toolbar>
    <img class="logo-img" src="assets/images/Quaderna.png" alt="Quaderna" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Capa oscura encima del fondo -->
  <div class="background-overlay">
    <!-- Contenedor principal -->
    <div class="container-recover">

      <!-- Card principal -->
      <ion-card class="card-recover">
        <ion-card-header>
          <ion-card-title>Recuperar Contraseña</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form (ngSubmit)="sendRecoveryEmail()">
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input
                type="email"
                [(ngModel)]="email"
                name="email"
                required>
              </ion-input>
            </ion-item>

            <ion-button expand="full" type="submit">Enviar Recuperación</ion-button>
            <ion-button expand="full" fill="clear" (click)="goToLogin()">Volver al Login</ion-button>
          </form>
        </ion-card-content>
      </ion-card>

    </div>
  </div>
</ion-content>

