/* src\app\carpeta\carpeta.page.scss */

.section-header {
  margin-top: 20px;
  margin-bottom: 10px;
  h3 {
    font-weight: bold;
    color: var(--ion-color-primary); // O el color que prefieras
    border-bottom: 1px solid var(--ion-color-medium-shade);
    padding-bottom: 5px;
  }
}

.upload-card {
  margin-bottom: 20px;
  ion-item {
    --padding-start: 0; // Ajusta si es necesario
    --inner-padding-end: 0; // Ajusta si es necesario
  }
  ion-button {
    margin-top: 10px;
  }
}

.empty-state {
  color: var(--ion-color-medium);
  ion-icon {
    font-size: 4em; // Ajusta el tamaño del ícono
    margin-bottom: 10px;
  }
  p {
    font-size: 1.1em;
  }
}